*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
}

.header {
    padding: 35px;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgoldenrod;
    color: black;
}

.header img {
    display:inline-block;
    margin:auto;
    width: 2.5%;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    color: black;
}

.header nav {
    padding-top: 30px;
    margin-right: 50px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.contact_form {
    height: 900px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../assets/images/egypt.jpg");
    background-size: cover;
    background-position: center;
}

a {
    color:black
}

p {
    font-size: 20px;
    background-color: red;
}

content {
    display: inline-block;
    margin-left: 25px;
    width: 75%;
}

.about-me, .work, .contact-me, .resume {
    margin-bottom: 20px;
    margin-left: 10%;
    padding: 100px;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: auto;
    background-color:rgba(247, 75, 23, 0.973);
    color: black;
}

.float-right {
    float: right;
    margin-left: 30px;
    margin-bottom: 50px;
}

.work img {
   height: 20vh;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}
